.img1 img{
    border: solid red;
    background-position: cover;
}

.img2{
    border: solid green;
}

.img3{
    border: solid blue;
}

div{
    width: 200px;
    height: 200px;
    background-image: url(../img/finn.png);
    background-size: 50px 50px;
    border: 3px solid;
}

#div1 {
    background-repeat: repeat-x;
    background-position: center center;
    border-color: red;
}

#div2{
    background-repeat: repeat-y;
    background-position: top right;
    border-color: orange;
}

#div3 {
    background-repeat: repeat-x;
    background-position: top left;
    border-color: green;
}