body{
    background-color: #B5F4FF;
}

header{

    background-color: #007bff;
    border-radius: 7px;
    box-shadow: 5px 5px 7px #002fff;
    display: flex;
    justify-content: space-between; 
    align-items: center;    
    padding: 0 2rem;
    height: 70px;
}

header h1{
    font-family: Helvetica ;
    color: white;
    margin: 0 auto;
    padding-right:200px;
}

nav  a{
    color: white;
    text-decoration: none;
    padding-left: 150px;
    gap: 1.5rem;
}

nav a:hover{
    color: rgb(136, 255, 0);
}
#contenido{
    padding: 20px;
}
#contenido h2{
    font-size: 30px;
}
body p{
    font-family: Montserrat;
    background-color: #007bff;
    color: white;
    border-radius: 7px;
    padding: 10px;
    box-shadow: 5px 5px 7px #002fff;
}
#imagen1{
    display: block;
    margin: 0 auto;
    border-radius: 7px;
    box-shadow: 5px 5px 7px #002fff;
}
footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px   ;
}

body #contenido {
    display: flex;
    text-align: center;
    flex-direction: column;
}

body header .cabecera{
    display: flex;
    justify-content: space-around;
}

main #contenido-inicio {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.imagenes{
    display: flex;           /* activa flexbox */
    justify-content: center; /* las centra horizontalmente */
    align-items: center;     /* las alinea verticalmente entre ellas */
}

